{% extends 'layouts/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Are you facing any issue?</h1>
    {# {{ form_start(form) }} #}
    {# {{ form_end(form) }} #}

    {{ form(form) }}

{% endblock %}