{% extends 'layouts/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-6 mx-auto">
         <h1 class="display-4 my-5 text-center">Are you facing any <span class="text-danger">issues</span> ?</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary w-100" formnovalidate>send</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}